{% extends "base.html" %}

{% block title %}Publius{% endblock %}

{% block content %}
<div class="intro">
    <h2>Welcome to <b>Publius</b>, an LLM-augmented reader for <i>The Federalist Papers</i>.</h2>
    <p>This tool is intended to assist in the educational understanding of the use of Classical exempla in each paper. Click on one to get started.</p>
</div>

<div class="papers-list">
    <h3>All Papers</h3>
    <ul>
        {% for paper in papers %}
        <li>
            <a href="/paper/{{ paper.paper_id }}">
                <span class="paper-number">#{{ paper.paper_id }}</span>
                <span class="paper-title" style="width:60%">{{ paper.title }}</span>
                <span class="paper-author">by {{ paper.author }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}