{% extends "base.html" %}

{% block title %}Federalist Papers - Venues{% endblock %}

{% block content %}
<div class="venues-list">
    <h2>Publication Venues of the Federalist Papers</h2>
    
    {% for venue, papers in venues.items() %}
    <div class="venue">
        <h3>{{ venue }}</h3>
        <ul class="papers-list">
            {% for paper in papers %}
            <li>
                <a href="/paper/{{ paper.paper_id }}">
                    <span class="paper-number">#{{ paper.paper_id }}</span>
                    <span class="paper-title">{{ paper.title }}</span>
                    <span class="paper-author">by {{ paper.author }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}